.body-form{
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
}

.icon-cards-pay{
    background-color: rgb(199, 193, 193);
    border-radius: 5px;
    justify-content: space-around;

}
